{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block contenu %}
</header>

{{ form_start(form) }}

    <div class="container">

        <div class="col">
            {{ form_label(form.email, 'Email :', {'label_attr': {'class': 'fw-bold'}}) }}
            <br>
            {{ form_widget(form.email, {'attr':{'class':'form-control', 'placeholder':'Votre email'}}) }}
        </div>

        <!--
            Si l'utilisateur connecté a le rôle d'administrateur, montrer la modification de rôles pour l'utilisateur crée.
            Sinon, cacher la séléction de rôles et l'utilisateur sera automatiquement donné le rôle d'utilisateur grâce à l'entité User.
        -->
        {% if is_granted('ROLE_ADMIN') %}

            <div class="col">
                {{ form_label(form.roles, 'Rôles :', {'label_attr': {'class': 'fw-bold'}}) }}
                <br>
                {{ form_widget(form.roles) }}
            </div>

        {% else %}

            <div class="col" style="display: none;">
                {{ form_label(form.roles, 'Rôles :', {'label_attr': {'class': 'fw-bold', 'style': 'display:none;' }}) }}
                <br>
                {{ form_widget(form.roles, {'label_attr': {'style': 'display:none;' }}) }}
            </div>

        {% endif %}
        
        <div class="col">
            {{ form_label(form.password.first, 'Mot de passe :', {'label_attr': {'class': 'fw-bold'}}) }}
            <br>
            {{ form_widget(form.password.first, {'attr':{'class':'form-control', 'placeholder':'Mot de passe'}}) }}

            {% if form_errors(form.password.first) is not empty %}
                {{ form_errors(form.password.first, {'attr':{'class':'form-control', 'placeholder':'Mot de passe'}}) }}
            {% endif %}
            
        </div>

        <div class="col">
            {{ form_label(form.password.second, 'Confirmation du mot de passe :', {'label_attr': {'class': 'fw-bold'}}) }}
            <br>
            {{ form_widget(form.password.second, {'attr':{'class':'form-control', 'placeholder':'Confirmation du mot de passe'}}) }}
        </div>

        <br>

        <div class="col">
            {{ form_widget(form.valider, {'label':"Valider", 'attr':{'class':'btn bg-primary'}}) }}
        </div>

    </div>

{{ form_end(form, {render_rest: true}) }}

{% endblock %}
