{% extends 'base.html.twig' %}

{% block title %}inscription{% endblock %}

{% block contenu %}

{{ form_start(form) }}

    <div class="container">

        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="col">
            {{ form_label(form.email, 'Email :', {'label_attr': {'class': 'fw-bold'}}) }}
            <br>
            {{ form_widget(form.email, {'attr':{'class':'form-control', 'placeholder':'Votre email'}}) }}
        </div>

        <div class="col">
            {{ form_label(form.roles, 'Roles :', {'label_attr': {'class': 'fw-bold'}}) }}
            <br>
            {{ form_widget(form.roles) }}
        </div>

        <div class="col">
            {{ form_label(form.password.first, 'Mot de passe :', {'label_attr': {'class': 'fw-bold'}}) }}
            <br>
            {{ form_widget(form.password.first, {'attr':{'class':'form-control', 'placeholder':'Mot de passe'}}) }}
        </div>

        <div class="col">
            {{ form_label(form.password.second, 'Confirmation du mot de passe :', {'label_attr': {'class': 'fw-bold'}}) }}
            <br>
            {{ form_widget(form.password.second, {'attr':{'class':'form-control', 'placeholder':'Confirmation du mot de passe'}}) }}
        </div>

        <br>

        <div class="col">
            {{ form_widget(form.Valider, {'label':"Valider", 'attr':{'class':'btn bg-primary'}}) }}
        </div>

    </div>

{{ form_end(form, {render_rest: true}) }}

{% endblock %}
