<!DOCTYPE html>

<html lang="fr">
	<head>
		<!-- Font Awesome -->
		<script src="https://kit.fontawesome.com/1ec56b3b97.js" crossorigin="anonymous"></script>


		<!-- Generic -->
		<meta charset="UTF-8"/>

		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="css/style.css"/>
		<title>
			{% block title %}
			{% endblock %}
			- Mes Compétences
		</title>
		<script src="js/jquery.min.js"></script>
	</head>

	<body>
		<nav id="navMenu">
			
			<a class="navItem" href="{{path("index")}}">Accueil</a>
			<a class="navItem" href="{{path("inscription")}}">inscription</a>
			<a class="navItem" href="{{path("app_login")}}">Connexion</a>
			<a class="navItem" href="{{path("ajoutCompetence")}}">Ajout competence</a>
			<a class="navItem" href="{{path("mentionslegales")}}">Mentions légales</a>
			
		</nav>				
		
			{% block header %}
					
			{% endblock %}
		<div id="pageContent">
			<header>
				<div id="menuButton">
					Menu
				</div>
				
					{% block contenu %}
					</header>
				{% endblock %}
	
		</div>

		<script src="js/navMenu.js"></script>
		
		{% block script %}
		{% endblock %}
	</body>

</html>
